<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <creatuityaicontent>
            <general>
                <product_description_attributes>name,color,size</product_description_attributes>
            </general>
        </creatuityaicontent>
    </default>
</config>
