<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Creatuity\AIContent\Api\AIContentGeneratorInterface" type="Creatuity\AIContent\Model\AIContentGenerator"/>
    <preference for="Creatuity\AIContent\Api\Data\SpecificationInterface" type="Creatuity\AIContent\Model\Specification"/>
    <preference for="Creatuity\AIContent\Api\Data\AIRequestInterface" type="Creatuity\AIContent\Model\AIContentGenerator\Request\AIRequest"/>
    <preference for="Creatuity\AIContent\Api\Data\AIResponseInterface" type="Creatuity\AIContent\Model\AIContentGenerator\Response\AIResponse"/>
    <preference for="Creatuity\AIContent\Model\Attribute\AttributesDataProviderInterface" type="Creatuity\AIContent\Model\Attribute\AttributesForProductAndChildren"/>
    <virtualType name="ShortDescriptionGenerator" type="Creatuity\AIContent\Api\AITypedContentGeneratorInterface"/>
    <virtualType name="DescriptionGenerator" type="Creatuity\AIContent\Api\AITypedContentGeneratorInterface"/>
    <virtualType name="MetaDescriptionGenerator" type="Creatuity\AIContent\Api\AITypedContentGeneratorInterface"/>
    <virtualType name="MetaKeywordsGenerator" type="Creatuity\AIContent\Api\AITypedContentGeneratorInterface"/>
    <virtualType name="MetaTitleGenerator" type="Creatuity\AIContent\Api\AITypedContentGeneratorInterface"/>

    <type name="Creatuity\AIContent\Model\AIContentGenerator">
        <arguments>
            <argument name="typedGenerators" xsi:type="array">
                <item name="description" xsi:type="object">DescriptionGenerator</item>
                <item name="short_description" xsi:type="object">ShortDescriptionGenerator</item>
                <item name="meta-description" xsi:type="object">MetaDescriptionGenerator</item>
                <item name="meta-keywords" xsi:type="object">MetaKeywordsGenerator</item>
                <item name="meta-title" xsi:type="object">MetaTitleGenerator</item>
            </argument>
        </arguments>
    </type>

    <type name="Creatuity\AIContent\Model\SpecificationHydrator">
        <arguments>
            <argument name="settings" xsi:type="array">
                <item name="description" xsi:type="array">
                    <item name="type" xsi:type="const">Creatuity\AIContent\Enum\AiContentTypeEnum::DESCRIPTION_TYPE</item>
                    <item name="min_len" xsi:type="number">0</item>
                    <item name="max_len" xsi:type="const">Creatuity\AIContent\Api\Data\SpecificationInterface::DESCRIPTION_DEFAULT_MAX_LENGTH</item>
                </item>
                <item name="short_description" xsi:type="array">
                    <item name="type" xsi:type="const">Creatuity\AIContent\Enum\AiContentTypeEnum::SHORT_DESCRIPTION_TYPE</item>
                    <item name="min_len" xsi:type="number">0</item>
                    <item name="max_len" xsi:type="const">Creatuity\AIContent\Api\Data\SpecificationInterface::SHORT_DESCRIPTION_DEFAULT_MAX_LENGTH</item>
                </item>
                <item name="meta_title" xsi:type="array">
                    <item name="type" xsi:type="const">Creatuity\AIContent\Enum\AiContentTypeEnum::META_TITLE_TYPE</item>
                    <item name="min_len" xsi:type="number">50</item>
                    <item name="max_len" xsi:type="number">60</item>
                </item>
                <item name="meta_keywords" xsi:type="array">
                    <item name="type" xsi:type="const">Creatuity\AIContent\Enum\AiContentTypeEnum::META_KEYWORDS_TYPE</item>
                    <item name="min_len" xsi:type="number">8</item>
                    <item name="max_len" xsi:type="number">10</item>
                </item>
                <item name="meta_description" xsi:type="array">
                    <item name="type" xsi:type="const">Creatuity\AIContent\Enum\AiContentTypeEnum::META_DESCRIPTION_TYPE</item>
                    <item name="min_len" xsi:type="number">0</item>
                    <item name="max_len" xsi:type="number">150</item>
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="CreatuityAIContentDebugHandler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/creatuity-aicontent.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="CreatuityAIContentLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">CreatuityAIContentDebugHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Creatuity\AIContent\Plugin\LogRequestResponsePlugin">
        <arguments>
            <argument name="logger" xsi:type="object">CreatuityAIContentLogger</argument>
        </arguments>
    </type>

    <type name="Creatuity\AIContent\Api\AIProviderInterface">
        <plugin name="Creatuity_AIContent::log_request_response" type="Creatuity\AIContent\Plugin\LogRequestResponsePlugin" sortOrder="1" />
    </type>
</config>
