.admin__field.admin__field-group-additional.admin__field-small.admin__button-aicontent-form {
    display: inline-block;

    &.margin-left-10 {
        margin-left: 10px;
    }
}

.fieldset-wrapper.admin__fieldset-section.creatuity-ai-section {
    display: flex;
    border: 1px solid #e5e5e5;
    padding: 10px;
    max-width: 50%;
    margin: auto auto 20px;

    .admin__fieldset-wrapper-content {
        width: 100%;

        .admin__fieldset {
            padding-bottom: 1rem;
            padding-right: 10px;
        }
    }
}
