<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="ai-content-modal" xsi:type="array">
                    <item name="class" xsi:type="string">Creatuity\AIContent\Ui\DataProvider\Product\Form\Modifier\AddModalAiContentModifier</item>
                    <item name="sortOrder" xsi:type="number">100</item>
                </item>
                <item name="description-ai" xsi:type="array">
                    <item name="class" xsi:type="string">Creatuity\AIContent\Ui\DataProvider\Product\Form\Modifier\AddGenerateDescriptionWithAIButtonModifier</item>
                    <item name="sortOrder" xsi:type="number">110</item>
                </item>
                <item name="meta-tags-ai" xsi:type="array">
                    <item name="class" xsi:type="string">Creatuity\AIContent\Ui\DataProvider\Product\Form\Modifier\AddGenerateMetaTagsWithAIButtonModifier</item>
                    <item name="sortOrder" xsi:type="number">120</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>